body {
    background-color: #222;
    color: #f9f9f9;
}
.navbar {
    margin-bottom: 0px;
    background-color: #222;
    color: #ffffff;
}
.navbar {
    color: #FFFFFF
}
.backgroundclosingheader {
    background: url('../pics/closingheader.png') no-repeat center fixed;
    color:#fff;
    background-size:cover;
    height: 10vh;
}
.backgroundother1 {
    background: url('../pics/other1.png') no-repeat center fixed;
    color:#fff;
    background-size:cover;
    height: 100vh;
}
.backgroundother2 {
    background: url('../pics/other2.png') no-repeat center fixed;
    color:#fff;
    background-size:cover;
    height: 180vh;
}
.backgroundother3 {
    background: url('../pics/other3.png') no-repeat center fixed;
    color:#fff;
    background-size:cover;
    height: 100vh;
}
.nav-screen .active {
    display: block;
  }

.active {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}
.ending {
    border-top-style: solid;
    position: absolute;
    bottom: 0;
    right: 0;
}
.section {
    background-color: rgb(30, 30, 30);
    background-size: cover;
}
a:active {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}
a:link {
    color: #ffffff; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}
.content-slide {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.field {
	color: #FFFB00;
}
.info {
    background-color: transparent;
    text-decoration: underline;
}
hr {
    border-top-style: solid;
    color: #FFFFFF;
}